
body {
  font-family: Arial, sans-serif;
  background: #000000;
  color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  min-height: 100vh
}

header {
  background: linear-gradient(to right, #ff5314, black);
  color: rgb(245, 237, 237);
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

header input, header select {
  padding: 2px;
  border-radius:100px;
  border: none;
}

button {
  background: #f7f4f4;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 4px 10px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s ease;
}
button:hover { background: #f12121; }

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 2rem;
}

.movie-card {
  background: #ffffff;
  color: black;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
  text-align: center;
  overflow: hidden;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 420px;
}
.movie-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.6);
}
.movie-image{
  width:100%;
  height:280px;
  object-fit:cover;
  border-bottom: 2px solid #ff4400;
}


.hidden { 
    display: none; 
}

.modal {
  position: fixed;
  top: 0; left: 0; width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);
  display: none;
  align-items: center; 
  justify-content: center;
}
.modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
}

.video-player {
  width: 100%;
  height: 250px;
  background: black;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px 0;
}

.titulo-destaque{
  color: white;
  font-weight: bold;
  font-size: 24px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0,0.5);
  margin-left:  1rem;
}
